<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TodoList</title>
  </head>
  <body>
    <div class="body-wrapper">
      <div class="content-wrapper">
        <div class="date">
          <div class="datetime">
            <i class="fa-regular fa-calendar-days"></i>
            <input
              type="text"
              name="date"
              id="date"
              class="d"
              [(ngModel)]="currentDateTime"
              disabled
            />
          </div>
        </div>
        <div class="headerBox">
          <div class="title">
            <div class="titletext">ToDo List</div>
            <i class="fa-solid fa-pen"></i>
            <div class="select">
              <input
                type="checkbox"
                name="checkbox"
                class="chinput"
                (click)="SelectAll()"
              />
              <div class="text">Select All</div>
            </div>
          </div>
        </div>
        <div class="inputbox">
          <input
            type="text"
            name="taskInput"
            id="taskInput"
            class="entry"
            [(ngModel)]="task"
            placeholder="Things you want to do today?"
            (keyup.enter)="edit ? update() : addTask()"
          />
        </div>
        <div class="table-wrapper">
          <table>
            <tbody>
              <tr *ngFor="let task of tasks; let k = index">
                <td class="checkbox">
                  <label>
                    <input
                      type="checkbox"
                      name="checkbox"
                      class="chinput"
                      [(ngModel)]="task.isChecked"
                      (click)="toggleTaskCompletion(task)"
                    />
                  </label>
                </td>
                <td class="statement" [ngClass]="{ completed: task.isChecked }">
                  {{ task.task }}
                </td>
                <td class="ibutton">
                  <button class="edit" (click)="edittask(k)">
                    <i class="fa-solid fa-pen fa-2xs"></i>
                  </button>
                </td>
                <td class="ibutton round">
                  <button class="del" (click)="deltask(k)">
                    <i class="fa-solid fa-trash fa-xs"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="footerBox">
          <div class="text">
            <div class="num">{{ Unselecteditems }}</div>
            Uncompleted tasks
          </div>
          <div class="title">Clear Completed</div>
          <div class="footer">
            <div *ngIf="selecteditems > 0">You've selected an item.</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
